.App {
  text-align: center;
}

.navlink a {
  text-decoration: none;
  padding: 5px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 4px;
}

.active{
  color: goldenrod;
  text-decoration: none;
  font-size: 2rem;

}